# ==========================
# Python
# ==========================
backend/venv/
backend/__pycache__/
backend/uploads/
backend/.env
*.pyc

# ==========================
# Node
# ==========================
frontend/node_modules/
frontend/dist/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db